<!--la etiqueta más básica, <html >, es 
siempre el principio de cualquier página web-->
<html>
	<!--no se muestra en la pantalla.-->
	<head>    
		<title>Prueba</title>		<!--Titulo de la pagina-->
	</head>
	<!--lo que se muestra como parte de la página web-->
	<body>
		<div>
			<h1><a href="">Django Girls Blog</a></h1>
		</div>

		<div>
			<p>published: 14.06.2014, 12:14</p>
			<h2><a href="">My first post</a></h2>
			<p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
		</div>
	
		<div>
			<p>published: 14.06.2014, 12:14</p>
			<h2><a href="">My second post</a></h2>
			<p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
		</div>
	</body>
</html>
<!--</html > es siempre el final-->

<!--<h1>Un título</h1> - para tu título más importante
<h2>Un subtítulo</h2> - para el título del siguiente nivel
<h3>Un subsubtítulo</h3> - ... y así hasta <h6>
<em>texto</em> - pone en cursiva tu texto
<strong>texto</strong> - pone en negrita tu texto
<br /> - un salto de línea (no puedes colocar nada dentro de br)
<a href="https://djangogirls.org">link</a> - crea un vínculo
<ul><li>primer elemento</li><li>segundo elemento</li></ul> - crea una lista, ¡igual que esta!
<div></div> - define una sección de la página-->
